# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables & Secrets
.env
.env.local

# Virtual Environment
venv/
env/
ENV/

# IDE files
.vscode/
.idea/
*.swp

# OS Files
.DS_Store
Thumbs.db
